# 결측치 제거

In [192]:
import pandas as pd
df = pd.read_csv('./등표기상관측_광안_오륙도/2020파고없음.csv', encoding='euc-kr')

In [193]:
df.head()

    지점                일시  풍속(m/s)  최대순간풍속(m/s)  유의파고(m)
0  984  2020-11-03 18:00      4.6          5.9      NaN
1  984  2020-11-03 19:00      5.0          6.2      NaN
2  984  2020-11-03 20:00      8.2          9.2      NaN
3  984  2020-11-03 21:00      6.7          8.4      NaN
4  984  2020-11-03 22:00      6.0          9.3      NaN

In [194]:
df['지점'].unique()

array([984], dtype=int64)

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8525 entries, 0 to 8524
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           8525 non-null   int64
 1   일시           8525 non-null   object
 2   풍속(m/s)      8471 non-null   float64
 3   최대순간풍속(m/s)  8461 non-null   float64
 4   유의파고(m)      3775 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 333.1+ KB

In [173]:
df.dropna(inplace=True)

In [174]:
df.shape

(0, 5)

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           0 non-null      int64
 1   일시           0 non-null      object
 2   풍속(m/s)      0 non-null      float64
 3   최대순간풍속(m/s)  0 non-null      float64
 4   유의파고(m)      0 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 0.0+ bytes

In [158]:
# df.to_csv('./결측치제거/2020.csv')

# 인덱스 변경

In [72]:
import pandas as pd
df = pd.read_csv('./결측치제거/2018.csv', index_col=0)

In [73]:
df['일시'] = pd.to_datetime(df['일시'])

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6440 entries, 0 to 6585
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           6440 non-null   int64
 1   일시           6440 non-null   datetime64[ns]
 2   풍속(m/s)      6440 non-null   float64
 3   최대순간풍속(m/s)  6440 non-null   float64
 4   유의파고(m)      6440 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 301.9 KB

In [75]:
df.set_index('일시', inplace=True)

In [76]:
df.head()

                      지점  풍속(m/s)  최대순간풍속(m/s)  유의파고(m)
일시
2018-01-01 00:00:00  962      5.2         16.3      0.1
2018-01-01 01:00:00  962      5.1          9.5      0.1
2018-01-01 02:00:00  962      4.4          9.8      0.1
2018-01-01 03:00:00  962      6.9         10.3      0.1
2018-01-01 04:00:00  962      9.2         14.4      0.2

In [77]:
df.to_csv('./인덱스변경/2018.csv')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6440 entries, 2018-01-01 00:00:00 to 2018-10-06 10:00:00
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           6440 non-null   int64
 1   풍속(m/s)      6440 non-null   float64
 2   최대순간풍속(m/s)  6440 non-null   float64
 3   유의파고(m)      6440 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 251.6 KB

In [85]:
df.head()

                      지점  풍속(m/s)  최대순간풍속(m/s)  유의파고(m)
일시
2018-01-01 00:00:00  962      5.2         16.3      0.1
2018-01-01 01:00:00  962      5.1          9.5      0.1
2018-01-01 02:00:00  962      4.4          9.8      0.1
2018-01-01 03:00:00  962      6.9         10.3      0.1
2018-01-01 04:00:00  962      9.2         14.4      0.2

# 관측지점 삭제

In [99]:
import pandas as pd

df = pd.read_csv('./인덱스변경/2018.csv', index_col=0)

df.drop(['지점'], axis=1, inplace=True)

df.to_csv('./인덱스변경/2018.csv')

In [100]:
df.head()

                     풍속(m/s)  최대순간풍속(m/s)  유의파고(m)
일시
2018-01-01 00:00:00      5.2         16.3      0.1
2018-01-01 01:00:00      5.1          9.5      0.1
2018-01-01 02:00:00      4.4          9.8      0.1
2018-01-01 03:00:00      6.9         10.3      0.1
2018-01-01 04:00:00      9.2         14.4      0.2

# 컬럼명 변경

In [13]:
import pandas as pd

df = pd.read_csv('./등표기상관측_광안/2018.csv', index_col=0)

df.rename(columns={'최대순간풍속(m/s)':'GUST_WIND'}, inplace=True)

df.to_csv('./등표기상관측_광안/2018.csv')

In [5]:
df.head()

                     WIND_SPEED  GUST_WIND  SIG_WAVE
일시
2010-02-06 00:00:00         3.1       10.9       0.0
2010-04-09 16:00:00         2.5        6.9       0.4
2010-04-09 17:00:00         1.5        6.9       0.4
2010-04-09 18:00:00         0.0        6.9       0.4
2010-04-09 19:00:00         4.9        6.9       0.3